body {
    background-image: url(bg.png);
    margin: 0;
	padding: 60px;
	background-repeat: no-repeat;
	background-color: #cccccc; /* Used if the image is unavailable */
	height: auto; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

nav {
	height: 80px;
	display: inline;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 420px;
	z-index: 2;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover {
	color: #f00;
}

.div1 {
  font-size: large;
  background-color: lightgrey;
  margin: auto;
  text-align: center;
  width: 30%;
  border: 10px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}

.div2 {
  font-size: large;
  background-color: lightgrey;
  margin: auto;
  text-align: center;
  width: 30%;
  border: 10px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}

.div3 {
  font-size: large;
  background-color: lightgrey;
  margin: auto;
  text-align: center;
  width: 30%;
  border: 10px solid rgb(0, 0, 0);
  padding: 50px;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}
